{% extends 'ecommerce/base.html' %}

{% block title %}
    Your Orders
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <header>
            <h1>Your Orders</h1>
        </header>
        <main>
            {% if orders %}
                <ul>
                    {% for order in orders %}
                        <li>
                            <strong>Order ID:</strong> {{ order.id }} - <strong>Total Amount:</strong> ${{ order.total_amount }} - <strong>Created At:</strong> {{ order.created_at }}
                            <ul>
                                {% for item in order.items.all %}
                                    <li>{{ item.quantity }} x {{ item.product.name }} - ${{ item.price }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have no orders.</p>
            {% endif %}
            <nav class="mt-3">
                <a href="{% url 'product_list' %}" class="btn btn-link">Back to Products</a>
            </nav>
        </main>
    </div>
{% endblock %}
